/parser.cpp
/parser.hh
/Makefile
/myCompiller.cbp
/location.hh
/CMakeCache.txt
/cmake_install.cmake
/bin/myCompiller
/bin/test.in
/bin/program.txt
/cmake-build-debug/
/CMakeFiles/
/scanner/scanner.cpp

/.clang-format
/.clang-tidy
